POSTGRES_USER=phctickets
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_DB=phctickets
JWT_SECRET=troque-este-jwt
JWT_EXPIRES_IN=8h
TMDB_API_KEY=
SITE_ADDRESS=:80
CORS_ORIGIN=http://SEU_IP
VITE_API_URL=/api
